.panel_group_container .panel_group .card_panel {
    display: flex; /* Tampilkan elemen sebagai flex container */
    align-items: center; /* Pusatkan vertikal elemen di dalam container */
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.05);
}

.panel_group_container .panel_group .card_panel .card_panel_icon_wrapper {
    margin: 14px 12px; /* Atur margin di sini tanpa float */
    padding: 16px;
    transition: all 0.38s ease-out;
    border-radius: 6px;
}

.panel_group_container .panel_group .card_panel .card_panel_icon_wrapper .card_panel_icon {
    font-size: 48px;
}

.panel_group_container .panel_group .card_panel .card_panel_description {
    font-weight: bold;
    margin: 0 12px; /* Atur margin di sini tanpa float */
}

.panel_group_container .panel_group .card_panel .card_panel_description .card_panel_text {
    color: rgba(0,0,0,0.45);
    font-size: 15px;
    padding: 10px;
    width: 100%;
}