@import 'transition.css';

html, body {
    font-family: Poppins, sans-serif;
}

.app-container {
    padding: 20px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}